body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;;
  max-width: 1140px;
  height: 100vh;

}

.column {
  display: flex;
  flex-direction: column;
 align-items: center;
  flex: 1 1 200px;
  background-color: #8ea86e;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}

.column1{
  color: red;
  background-color: pink;
}

.column2{
  color:pink;
  background-color: red;
}

.column3, .column4{
  display: none;
}

@media screen and (min-width: 641px){

  .container{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .column1{
    color: blue;
    background-color: brown;
  }

  .column2{
    color: purple;
    background-color: blue;
  }
  .column3{
    display: unset;
    color: grey;
    background-color: purple;
  }

  .column4{
    display: unset;
    color: brown;
    background-color: grey;
  }
}

@media screen and (min-width: 841px){
 .container{
    background-color:black;
 }


 .column{
    background-color: green;
    color:red;
    flex-grow:0;
 }

 h2{
  animation: 1s ease-in infinite alternate fullWidthFun 
 }



@keyframes fullWidthFun{
  from {
    transform: translate(0px, 0px);
  }
  to{
    transform: translate(0px, 500px);
  }
}

 }